{% extends "base.html" %}
{% block content %}
    <head xmlns="http://www.w3.org/1999/html">
        <meta charset="UTF-8">
        <title>How Far you are from Statue of Liberty</title>
    </head>

    <body>




                    <!------------------------------------Statue of liberty -------------------------->
          <div class="row">


                <div class="col-4">
                    <h1 class="text-center">How far is Statue of Liberty?</h1>

                    <div class="location">
                        <img src="https://www.goodfreephotos.com/cache/united-states/new-york/new-york-city/face-of-the-statue-of-liberty-in-new-york.jpg"
                              width="409" height="220px"><br> <br>
                        <div style="text-align: justify;padding:10px">
                            Using the Geolocation API, we can find out the current location.
                            Using our current location, we can find out how far we are from the Statue of Liberty. See
                            for yourself by clicking on the button below.
                        </div>
                        <br><br>
                        <button class="btn-primary" onclick="getlocation()">Compute distance to Statue of Liberty</button>
                        <br>
                        <span id="output"></span>
                        <br>
                        <br>
                    </div>

                    <div class="location" id="q2" style="display:none;">
                        Click on the button below to find out how long it would take you to walk to the Statue of
                        Liberty.
                        <div>
                            <img  src="{{ url_for('static', filename='images/white-man.gif') }}" width="100px" height="100px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <img  src="{{ url_for('static', filename='images/Statue-Of-Liberty-Line-Art.svg') }}" width="100px" height="100px">
                        </div>
                        <br>

                        <button class="btn-primary" onclick="getElementById('p1').style.display='inline';">Compute time to walk</button>

                        <div class="location" id="p1" style="display:none;padding:10px"><br><br>Walking at a speed of 5 Kilometers per
                            Hour, it would take you<br>
                            <span style="background-color:yellow;font-:bold" id="days"></span> days<br> to reach Statue
                            of Liberty.<br> By the way, that is if there is a straight road to Statue of Liberty from
                            your location.
                        </div>
                        <br><br>

                    </div>
                </div>


                <!-------------------------------------------- Second location Tokyo---------------------------->

                <div class="col-4">

                        <h1 class="text-center">How far away are you from Tokyo?</h1>

                        <div class="location">
                            <img src="https://s3-eu-west-1.amazonaws.com/emap-nibiru-prod/wp-content/uploads/sites/2/2020/01/01001829/tokyocityoverview-1.jpg"
                                 width="409" height="220px"><br> <br>
                            <div style="text-align: justify;padding:10px">
                                Using the Geolocation API, we can find out the current location.
                                Using our current location, we can find out how far we are from the Tokyo. See for
                                yourself by clicking on the button below.
                            </div>
                            <br><br>
                            <button class="btn-primary" onclick="getlocation1()">Compute distance to Tokyo</button>
                            <br>
                            <span id="output1"></span>
                            <br>
                            <br>
                        </div>


                        <div class="location" id="q1" style="display:none;">
                            Click on the button below to find out how long it would take you to walk to the Tokyo.
                        <br>
                            <br>
                            <div>
                            <img  src="{{ url_for('static', filename='images/white-man.gif') }}" width="100px" height="100px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <img  src="{{ url_for('static', filename='images/Statue-Of-Liberty-Line-Art.svg') }}" width="100px" height="100px">
                        </div>
                            <br>

                            <button class="btn-primary" onclick="getElementById('p2').style.display='inline';">Compute time to walk</button>

                            <div class="location" id="p2" style="display:none;padding:10px"><br><br>Walking at a speed of 5 Kilometers
                                per Hour, it would take you<br>
                                <span style="background-color:yellow;font-:bold" id="days1"></span> days<br> to reach
                                Statue of Liberty.<br> By the way, that is if there is a straight road to Tokyo from your location.
                            </div>
                            <br><br>
                        </div>

                    </div>




            <!------------------------------------------Third location - Gdansk(Poland)--------------------------------------->

            <div class="col-4">

                    <h1 class="text-center">How far away are you from Gdansk?</h1>

                    <div class="location">
                        <img src="http://mytouringdansk.com/wp-content/uploads/2017/04/gdansk-at-night-touringdansk.jpg"
                              width="409" height="220px"><br> <br>
                        <div style="text-align: justify;padding:10px">
                            Using the Geolocation API, we can find out the current location.
                            Using our current location, we can find out how far we are from the Gdansk. See for yourself
                            by clicking on the button below.
                        </div>
                        <br><br>
                        <button class="btn-primary" onclick="getlocation2()">Compute distance to Gdansk</button>
                        <br>
                        <span id="output2"></span>
                        <br>
                        <br>
                    </div>


                    <div class="location" id="q3" style="display:none;">
                        Click on the button below to find out how long it would take you to walk to the Gdansk.
<br>
                        <br>
                        <div>
                            <img  src="{{ url_for('static', filename='images/white-man.gif') }}" width="100px" height="100px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <img  src="{{ url_for('static', filename='images/Statue-Of-Liberty-Line-Art.svg') }}" width="100px" height="100px">
                        </div>
                        <br>

                        <button class="btn-primary" onclick="getElementById('p3').style.display='inline';">Compute time to walk</button>

                        <div class="location" id="p3" style="display:none;padding:10px"><br><br>Walking at a speed of 5 Kilometers per
                            Hour, it would take you<br>
                            <span style="background-color:yellow;font-:bold" id="days2"></span> days<br> to reach Statue
                            .<br> By the way, that is if there is a straight road to Gdansk from
                            your location.
                        </div>
                        <br><br>
                    </div>

                </div>
            </div>


        <!---------------------------------------------JAVASCRIPTS FOR CALCULATING DISTANCE FROM YOUR LOCATION ------------------------------------------------>


        <!----------------------------------------------Statue of liberty script----------------------------------------->

        <script>

            var output = document.getElementById("output");
            var kms = 0;
            var duration = 0;

            function getlocation() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(howFar)
                } else {
                    alert("Your browser does not support Geolocation API.")
                }
            }

            function howFar(position) {
                var lat1 = position.coords.latitude;
                var long1 = position.coords.longitude;

                //Coordinates of Statue of Liberty


                var lat2 = 40.689247;
                var long2 = -74.044502;


                kms = distance(lat1, long1, lat2, long2, 'K');
                kms = parseFloat(kms).toFixed(2)
                //alert(kms);
                duration = parseFloat(kms / 5 / 24).toFixed(2) // days
                document.getElementById('output').innerHTML = "<br> You are <h3>" + kms + " Kilometers </h3> away from Statue of Liberty.<br>";
                document.getElementById('days').innerHTML = "<strong>" + duration + "<strong>";
                document.getElementById('q2').style.display = "inline";
            }

            function distance(lat1, lon1, lat2, lon2, unit) {
                if ((lat1 == lat2) && (lon1 == lon2)) {
                    return 0;
                } else {
                    var radlat1 = Math.PI * lat1 / 180;
                    var radlat2 = Math.PI * lat2 / 180;
                    var theta = lon1 - lon2;
                    var radtheta = Math.PI * theta / 180;
                    var dist = Math.sin(radlat1) * Math.sin(radlat2) + Math.cos(radlat1) * Math.cos(radlat2) * Math.cos(radtheta);
                    if (dist > 1) {
                        dist = 1;
                    }
                    dist = Math.acos(dist);
                    dist = dist * 180 / Math.PI;
                    dist = dist * 60 * 1.1515;
                    if (unit == "K") {
                        dist = dist * 1.609344
                    }
                    if (unit == "N") {
                        dist = dist * 0.8684
                    }
                    return dist;
                }
            }</script>


        <!-----------------------------------------Script for Tokyo ----------------------------------------------->

        <script>
            var output1 = document.getElementById("output1");
            var kms = 0;
            var duration1 = 0;

            function getlocation1() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(howFar1)
                } else {
                    alert("Your browser does not support Geolocation API.")
                }
            }

            function howFar1(position) {
                var lat4 = position.coords.latitude;
                var long4 = position.coords.longitude;

                //Coordinates of Tokyo

                var lat3 = 35.652832;
                var long3 = 139.839478;

                kms = distance1(lat4, long4, lat3, long3, 'K');
                kms = parseFloat(kms).toFixed(2)
                //alert(kms);
                duration1 = parseFloat(kms / 5 / 24).toFixed(2) // days
                document.getElementById('output1').innerHTML = "<br> You are <h3>" + kms + " Kilometers </h3> away from Tokyo.<br>";
                document.getElementById('days1').innerHTML = "<strong>" + duration1 + "<strong>";
                document.getElementById('q1').style.display = "inline";

            }

            function distance1(lat4, lon4, lat3, lon3, unit) {
                if ((lat4 == lat3) && (lon4 == lon3)) {
                    return 0;
                } else {
                    var radlat4 = Math.PI * lat4 / 180;
                    var radlat3 = Math.PI * lat3 / 180;
                    var theta = lon4 - lon3;
                    var radtheta = Math.PI * theta / 180;
                    var dist = Math.sin(radlat4) * Math.sin(radlat3) + Math.cos(radlat4) * Math.cos(radlat3) * Math.cos(radtheta);
                    if (dist > 1) {
                        dist = 1;
                    }
                    dist = Math.acos(dist);
                    dist = dist * 180 / Math.PI;
                    dist = dist * 60 * 1.1515;
                    if (unit == "K") {
                        dist = dist * 1.609344
                    }
                    if (unit == "N") {
                        dist = dist * 0.8684
                    }
                    return dist;
                }
            }</script>
        <!---------------------------------------------Script for Gdansk(Poland) -------------------------------------------------->

        <script>
            var output2 = document.getElementById("output2");
            var kms = 0;
            var duration2 = 0;

            function getlocation2() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(howFar2)
                } else {
                    alert("Your browser does not support Geolocation API.")
                }
            }

            function howFar2(position) {
                var lat5 = position.coords.latitude;
                var long5 = position.coords.longitude;

                //Coordinates of Gdansk  ----- CHANGE VALUES!!!!!

                var lat6 = 54.372158;
                var long6 = 18.638306;

                kms = distance2(lat5, long5, lat6, long6, 'K');
                kms = parseFloat(kms).toFixed(2)
                //alert(kms);
                duration2 = parseFloat(kms / 5 / 24).toFixed(2) // days
                document.getElementById('output2').innerHTML = "<br> You are <h3>" + kms + " Kilometers </h3> away from Tokyo.<br>";
                document.getElementById('days2').innerHTML = "<strong>" + duration2 + "<strong>";
                document.getElementById('q3').style.display = "inline";

            }

            function distance2(lat5, lon5, lat6, lon6, unit) {
                if ((lat5 == lat6) && (lon5 == lon6)) {
                    return 0;
                } else {
                    var radlat5 = Math.PI * lat5 / 180;
                    var radlat6 = Math.PI * lat6 / 180;
                    var theta = lon5 - lon6;
                    var radtheta = Math.PI * theta / 180;
                    var dist = Math.sin(radlat5) * Math.sin(radlat6) + Math.cos(radlat5) * Math.cos(radlat6) * Math.cos(radtheta);
                    if (dist > 1) {
                        dist = 1;
                    }
                    dist = Math.acos(dist);
                    dist = dist * 180 / Math.PI;
                    dist = dist * 60 * 1.1515;
                    if (unit == "K") {
                        dist = dist * 1.609344
                    }
                    if (unit == "N") {
                        dist = dist * 0.8684
                    }
                    return dist;
                }
            }</script>

{% endblock %}